body{
    
}
.box{
background: radial-gradient(rgb(198, 172, 176),rgb(233, 130, 147));
padding: 10px;
width:100%;
height: 720px;
}
.todo{
    background-color: rgb(228, 186, 206);
    width:500px;;
    height:400px;
 margin: 100px auto 20px;
padding:40px 30px 7 0px;
} 
.heading{
    margin-left:130px;
}
.typing{
    margin-left:59px;
    box-sizing: 120px;
    margin-top:70px;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border-color: rgb(228, 186, 206);

}
.add{
    margin-left: 20px;
    width:54px;
    height:27px;
    border-radius: 9px;
    border-color: rgb(228, 186, 206);
    background-color: rgb(244, 143, 237);
}
ul li.checked{
   
}
ul li{
    list-style: none;
    cursor: pointer;
user-select: none;
}
ul li::before{
    
}

.tasks:hover{
text-decoration: line-through;
}
