.big{
background-color: rgb(62, 199, 220);
padding: 10px;
width:100%;
height: 720px;
}
.box{
    background-color: rgb(35, 173, 237);
    width:500px;;
    height:400px;
 margin: 100px auto 20px;
padding:40px 30px 7 0px;
}
.counter{
    width: 230px;
    height:230px;
    margin-left:63px;
    margin-top:93px;
}
.minus{
    width:90px;
    height:50px;
    margin-left:23px;
   margin-top: -150px;
}